!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="UTF-8")/
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")/
    %title Document
    %link(href="css/bootstrap-grid.min.css" rel="stylesheet")/
    %link(href="css/bootstrap-reboot.min.css" rel="stylesheet")/
    %link(href="css/style.min.css" rel="stylesheet")/
    %link(href="https://fonts.googleapis.com" rel="preconnect")/
    %link(crossorigin="" href="https://fonts.gstatic.com" rel="preconnect")/
    %link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap" rel="stylesheet")/
    %link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet")/
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  %body
    %header
      %nav
        .container
          .row
            .col-md-1
              %img.logo_img(alt="logo" src="icons/logo.png")/
            .col-md-1.offset-md-8
              .dropdown
                %a.menu_link Главная
                .dropdown-content
                  %a(href="#") Menu Item1
                  %a(href="#") Menu Item2
                  %a(href="#") Menu Item3
            .col-md-1
              .menu_link О нас
            .col-md-1
              .menu_link Контакты
    %section.promo
      .container
        .girl
          %img(alt="Girl" src="img/girl.jpg")/
        .icecream
          %img(alt="Icecream" src="img/icecream.jpg")/
        .block_text
          %h1.promo_header Ice Cream Cafe
          .promo_descr
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            %br/
            %br/
            Image from
            %a.blank(href="https://ru.freepik.com/") Freepik
          %button.promo_btn Learn more
        .circle
        .circle2
